<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the File Sharing System application!</title>
    <link rel="icon" type="image/png" th:href="@{/static/img/frog-icon-24.png}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
          rel="stylesheet" media="screen" th:href="@{/static/css/bootstrap.min.css}"/>
    <link href="/static/css/navbar-top-fixed.css"
          rel="stylesheet" media="screen" th:href="@{/static/css/navbar-top-fixed.css}"/>
</head>
<body>

<div th:replace="/fragments/header :: header('home')">Header</div>

<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h1>File Sharing System</h1>
            <br/>
            <div class="lead">
                <span th:text="#{home.welcome.1}">Welcome to the File Sharing System application!</span>
                <br/>
                <span th:text="#{home.welcome.2}">Get started quickly by registering!</span>
            </div>
            <br/>
            <a th:href="@{~/register}" id="register" class="btn btn-success btn-lg"
               th:text="#{header.register}">Register</a>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer">&copy; 2017 File Sharing System</div>

</body>
</html>