<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/bootstrap.min.js"/>
</head>
<body>
<h1 th:if="${type} == 'create'">Create resource</h1>
<h1 th:if="${type} == 'update'">Edit resource</h1>
<h3><a th:href="@{~/resources}">Resources</a></h3>
<form th:action="@{${resource.id}? '~/resources/' + ${resource.id}: '~/resources/'}" method="post">
    <fieldset>
        <label for="id">id</label>
        <input type="number" id="id" name="id" th:value="${resource.id}"/>
        <label for="name">name</label>
        <input type="text" id="name" name="name" th:value="${resource.name}"/>
        <label for="type">type</label>
        <select id="type" name="type" th:value="${resource.getClass().getSimpleName().toLowerCase()}">
            <option value="file">file</option>
            <option value="folder">folder</option>
        </select>
        <label for="parentId">parent</label>
        <input type="number" id="parentId" name="parentId" th:value="${resource.parent?.id}"/>
        <label for="userIds">users</label>
        <input type="text" id="userIds" name="userIds" th:value="${resourceUserIds}"/>
        <input th:if="${type} == 'create'" type="submit" value="Create resource"/>
        <input th:if="${type} == 'update'" type="submit" value="Edit resource"/>
    </fieldset>
</form>

</body>
</html>